<br />
<form class="form form-horizontal">

{{text-f value=content.name label="Name"}}

<br />
<!-- <button {{action 'cancel'}} class='btn btn-default'>Cancel</button>
 --><button {{action 'saveRecord'}} class='btn btn-primary'>Submit</button>
<br />
<br />
</form>