
<div class='row'>
  <div class='col-md-12'>
    <h1>Happy Hacking!</h1>

    Create a cool custom EmberJS app using Foreman API v2 or just CRUD the Foreman core objects.
    <br />
    <br />
  </div>
</div>

<div class='row' style='height:370px;'>

  <div class='col-md-4'>
    {{#home-item name='Radiater' routeName='radiator'}}
        Radiator is view of the radiator page found in Puppet Dashboard
    {{/home-item}}
  </div>

  <div class='col-md-4'>
    {{#home-item name='Your App!' routeName='home'}}
        Your cool EmberJS app connected to Foreman API v2.
    {{/home-item}}
  </div>

</div>
