<h3>New Host</h3>

<br />
<form class="form form-horizontal">

 {{text-f value=fields.name label="Name"}}

 {{!select-f label='Domain'
            content=domains
            optionLabelPath="content.name"
            optionValuePath="content.id"
            selection=content.domain
            value=content.domain.id
            prompt="Select Domain"
            }}

 {{!select-f label='Subnet'
            content=subnets
            optionLabelPath="content.name"
            optionValuePath="content.id"
            selection=content.subnet
            value=content.subnet.id
            prompt="Select Subnet"
            }}


<br />
<br />
<button {{action 'cancel'}} class='btn btn-default'>Cancel</button>
<button {{action 'saveNewRecord'}} class='btn btn-primary'>Submit</button>
<br />
<br />
</form>