<h3>Smart Class Parameters ({{model.length}})</h3>

{{outlet}}
<hr/>

{{#each smart in model}}
  {{show-item objShow=smart label=smart.parameter value=smart.default_value routeString='smart-class-parameter'}}
{{/each}}

